# Variables

Variables are containers for storing data values.

In [19]:
x = 12
print(x)

12

In [20]:
name = "John"
print(name)

John

In [21]:
num = 2.1
print(num)

2.1

In [26]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

# Variable Names

1. A variable name must start with a letter or the underscore character

2. A variable name cannot start with a number

3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4. Variable names are case-sensitive (age, Age and AGE are three different variables)

Legal variable names:

In [14]:
myvar = "John"
print(myvar)

John

In [15]:
my_var = "John"
print(my_var)

John

In [10]:
_my_var = "John"
print(_my_var)

John

In [11]:
myVar = "John"
print(myVar)

John

In [12]:
MYVAR = "John"
print(MYVAR)

John

In [13]:
myvar2 = "John"
print(myvar2)

John

Illegal variable names:

In [16]:
2myvar = "John"
print(2myvar)

SyntaxError: invalid decimal literal (1962627912.py, line 1)

In [17]:
my-var = "John"
print(my-var)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2257527160.py, line 1)

In [18]:
my var = "John"
print(my var = "John")

SyntaxError: invalid syntax (992905594.py, line 1)

# Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [22]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables


And you can assign the same value to multiple variables in one line:

In [24]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types

1. Tex Type : str

2. Numeric Type : int, float

3. Sequence Type : list

4. Boolean Type : bool

In [31]:
x = 5
print(type(x))

<class 'int'>

In [32]:
num = 6.5
print(type(num))

<class 'float'>

In [33]:
fruit = "apple"
print(type(fruit))

<class 'str'>

In [34]:
fruits = ['apple','orange','banana']
print(type(fruits))

<class 'list'>

In [35]:
X = True
print(type(X))

<class 'bool'>

In [37]:
X < 12
print(type(X))

<class 'bool'>

# Casting
If you want to specify the data type of a variable, this can be done with casting.

Example

In [3]:
y = int(3)    # y will be 3
print(y)

3

In [5]:
z = float(3)  # z will be 3.0
print(z)

3.0