# Repeated execution
Some functionality of program executed repeatedly.
We can reapeate the code block using following python loop functionality
* `for` 
* `while`

In [1]:
print("* ")
print("* " * 2)
print("* " * 3)
print("* " * 4)
print("* " * 5)
print("* " * 6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [3]:
for i in range(1,7):
    print("* " * i)

# instead of writing the 6 lines we can perform task within 2 line.

*
* *
* * *
* * * *
* * * * *
* * * * * *

# Python `range()`
* range function return list sequence of numbers
* syntaxt `range(start, stop, step)`

In [9]:
for i in range(5): # same as `for i in range(1,10,1)`
    print(i)

0
1
2
3
4

In [11]:
# generating mutipliation table of 6
for i in range(6, 100, 6):
    print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

# loop control statements in python
1. continue: skip current execution of loop and goto next iteration
2. break: stop loop and exit from the loop
3. pass: used to write empty loops

In [12]:
# Continue
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [15]:
# Break
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [16]:
# pass
for i in range(5):
    pass

# Iterating List

In [17]:
cities = ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Chennai"]
for city in cities:
    print(city)

Mumbai
Delhi
Bangalore
Hyderabad
Chennai

# Append list
We can add more items into list

In [18]:
cities.append("Salem")
print(cities)

['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai', 'Salem']